.TooltipContent {
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  user-select: none;
  will-change: transform, opacity;
  border: 1px solid #3f3f46;
  max-width: 300px;
  @apply z-hint bg-zinc-800 text-sm font-semibold leading-5 drop-shadow-lg;
}
