:root {
  /* Color styles */
  --bg-base: rgba(255, 255, 255, 1);
  --bg-sub: rgb(252, 252, 252);
  --bg-shade: rgba(243, 243, 243, 1);
  --bg-border: rgb(225, 225, 225);
  --bg-border-strong: rgba(204, 204, 204, 1);

  --label-title: rgba(0, 0, 0, 1);
  --label-base: rgba(47, 47, 47, 1);
  --label-muted: rgba(117, 117, 117, 1);
  --label-faint: rgba(169, 169, 169, 1);
  --label-link: rgba(25, 100, 215, 1);

  --accent-base: rgba(255, 63, 31, 1);
  --accent-bg: rgba(255, 198, 172, 1);
  --accent-shade: rgb(235, 27, 0, 1);
  --accent-label: rgba(255, 255, 255, 1);
  --accent-muted: rgba(255, 255, 255, 1);

  /* Shadow styles */
  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 1px 1px rgba(0, 0, 0, 0.02);
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12),
    0px 1px 4px rgba(0, 0, 0, 0.02);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12),
    0px 2px 12px rgba(0, 0, 0, 0.02);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12),
    0px 4px 16px rgba(0, 0, 0, 0.02);
  --shadow-large: 0 30px 60px rgba(135, 56, 56, 0.12),
    0px 8px 20px rgba(0, 0, 0, 0.02);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Color styles */
    --bg-base: rgba(255, 255, 255, 1);
    --bg-sub: rgb(252, 252, 252);
    --bg-shade: rgba(243, 243, 243, 1);
    --bg-border: rgb(225, 225, 225);
    --bg-border-strong: rgba(204, 204, 204, 1);

    --label-title: rgba(0, 0, 0, 1);
    --label-base: rgba(47, 47, 47, 1);
    --label-muted: rgba(117, 117, 117, 1);
    --label-faint: rgba(169, 169, 169, 1);
    --label-link: rgba(25, 100, 215, 1);

    --accent-base: rgba(255, 63, 31, 1);
    --accent-bg: rgba(255, 198, 172, 1);
    --accent-shade: rgb(235, 27, 0, 1);
    --accent-label: rgba(255, 255, 255, 1);
    --accent-muted: rgba(255, 255, 255, 1);
  }
}

[data-theme='dark'] {
  /* Color styles */
  --bg-base: rgba(255, 255, 255, 1);
  --bg-sub: rgb(252, 252, 252);
  --bg-shade: rgba(243, 243, 243, 1);
  --bg-border: rgb(225, 225, 225);
  --bg-border-strong: rgba(204, 204, 204, 1);

  --label-title: rgba(0, 0, 0, 1);
  --label-base: rgba(47, 47, 47, 1);
  --label-muted: rgba(117, 117, 117, 1);
  --label-faint: rgba(169, 169, 169, 1);
  --label-link: rgba(25, 100, 215, 1);

  --accent-base: rgba(255, 63, 31, 1);
  --accent-bg: rgba(255, 198, 172, 1);
  --accent-shade: rgb(235, 27, 0, 1);
  --accent-label: rgba(255, 255, 255, 1);
  --accent-muted: rgba(255, 255, 255, 1);

  /* Shadow styles */
  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 1px 1px rgba(0, 0, 0, 0.02);
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12),
    0px 1px 4px rgba(0, 0, 0, 0.02);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12),
    0px 2px 12px rgba(0, 0, 0, 0.02);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12),
    0px 4px 16px rgba(0, 0, 0, 0.02);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12),
    0px 8px 20px rgba(0, 0, 0, 0.02);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--bg-base);
  color: var(--label-base);
  font-family: 'Inter UI', ui-sans-serif, -apple-system, Arial, Helvetica,
    'Apple Color Emoji', sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

::selection {
  background-color: var(--bg-shade);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
